*{
    padding: 0px;
    margin: 0px;
}

#gym {
    height: 60vh;
    width: 40%;
    position: absolute;
    top: 150px;
    left: 50px;
}

.one {
    height: 100vh;
    width: 50%;
    float: right;
    background-color: black;
    transition: background-color 0.8s ease; 
}

#h_one{
    float: left;
}

label {
    color:  white;
    
}

.class_one, .class_two, .class_three {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}


form {
    position: absolute;
    top: 150px;
    width: 40%;
    right: -30px;
    margin: 10px;
    transition: background-color 0.8s ease; 
    border-radius: 8px;
    margin-right: 100px;
    margin-top: 100px;
    height: 60vh;
}

input {
    margin: 15px;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    border: 1;
    
}

.mini_one label {
    position:absolute;

    left: 95px;
}

.mini_two label {
    position:absolute;

    left: 295px;
}

.mini_three label {
    position:absolute;
    
    left: 95px;
}

.mini_four label {
    position:absolute;

    left: 295px;
}

.mini_five label {
    position:absolute;
    
    left: 95px;
}

.mini_six label {
    position:absolute;

    left: 295px;
}

.mini_two{
    float: right;
}

.main{
    margin-left: 60px;
    border-bottom-style: groove;
    width: 80%;
    border-color: black;
}

button {
    margin-left: 100px;
    border-radius: 8px;
    height: 30px;
    width: 150px;
    background-color: brown;
    color: white;
    border-color: brown;
    cursor: pointer;
}

#log {
    color: white;
    position: absolute;
    top: 410px;
    left: 100px;
}
strong {
    color: brown;
    cursor: pointer;
}

h2 {
    color: brown;
    position: absolute;
    top: 140px;
    margin-left: 220px;
    font-size: 65px;
    border-bottom-style: groove;
}

input:focus {
    border-color: brown;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    transition: 0.9s;
}

form:hover{
    background-color: black;
    transition: 0.8s;
}

.one:hover {
    background-color: white;
    transition: 0.9s;
}

#h_one {
    color: brown;
    margin-left: 50px;
    position: absolute;
    top: 50px;
    font-family: cursive;
    border-bottom-style: groove;
    border-color: brown;
}

#sign {
    position: absolute;
    top: 670px;
    margin-left: 180px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.emoji {
    font-size: 15px;
    color: #ff7f50;
    position: absolute;
    top: 670px;
    margin-left: 485px;
    font-size: 20px;
}